/* General setup */
header{text-align: center;}
* {
  box-sizing: border-box;
}

body {font-family: 'Work Sans', sans-serif;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {

}

main {Display:Flex;
  position:relative;

}

aside {Display:Flex;
flex-wrap: wrap;
flex: 1;
width: auto;

}

nav { Display:flex;
  Justify-content: space-around;
}

footer {

}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
.button {background-color: inherit;
  border: solid;
  border-color: red;
  padding: 20px 40px;
  width:200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;}
  a:active {
    background-color: black;
    color: white;
  }
a{outline: none}
  h1, h2, h3, h4, h5, h6 {
   font-family: 'Crimson Text', serif;
  }
